<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-12">
        <h4 class="page-title">Coupon Manager</h4>
        <div class="row">

        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- row -->

    <div class="white-box">

      <form id="coupon" class="container p-5">
        <div class="row">

          <div class="col-lg-6" style="max-width: 30em; ">
            <div class="form-group">
              <label for="formGroupExampleInput">COUPON CODE</label>
              <input
                type="text"
                class="form-control"
                name="couponcode"
                placeholder="coupon-code"
                required
              />
              <label style="display: none; color: red; font-size: 13px;" id="err1">offer should be less than 100%</label>
            </div>

          </div>

          <div class="col-lg-6" style="max-width: 10em; ">
            <div class="form-group">
              <label for="formGroupExampleInput">OFFER %</label>
              <input
                type="number"
                class="form-control"
                name="offer"
                id="offer"
                placeholder="offer"
              />
            </div>

          </div>
          <div class="col-lg-6" style="max-width: 10em; padding-top: 30px; ">
            <div class="form-group">
              <button id="submit">add</button>
            </div>

          </div>
        </div>
      </form>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <div class="table-responsive">
            <table class="table" id="myTable">
              <thead>
                <tr>

                  <th class="text-center">COUPON CODE</th>
                  <th class="text-center">STATUS</th>
                  <th class="text-center">OFFER</th>
                  <th class="text-center">OPTIONS</th>
                </tr>
              </thead>
              <tbody>
                {{#each coupons}}
                  <tr>
                    <td class="text-center">{{this.couponcode}}</td>
                    {{#if this.status}}
                      <td class="text-center">Active</td>
                    {{else}}
                      <td class="text-center">Inactive</td>
                    {{/if}}
                    <td class="text-center">{{this.offer}}%</td>
                    {{#if this.status}}
                    <td class="text-center"><a
                          href="/admin/deactivate-coupon/{{this._id}}"
                          class="fa fa-circle-o"
                          style="color: crimson;"
                          onclick="return confirm('comfirm to de-activate')"
                        ></a>&nbsp; &nbsp; <a href="/admin/delete-coupon/{{this._id}}" class="fas fa-trash-alt" onclick="return confirm('confirm delete {{this.couponcode}}')"></a>&nbsp; &nbsp;
                                                <a href="/admin/edit-coupon/{{this._id}}" class="fas fa-edit" ></a></td>                   
                    {{else}}                     
                        <td class="text-center"><a
                          href="/admin/activate-coupon/{{this._id}}"
                          class="fa fa-circle"
                          style="color:darkgreen;"
                          onclick="return confirm('comfirm to activate')"
                        ></a>&nbsp; &nbsp;<a href="/admin/delete-coupon/{{this._id}}" class="fas fa-trash-alt" onclick="return confirm('confirm delete {{this.couponcode}}')"></a>&nbsp; &nbsp;
                                                <a href="/admin/edit-coupon/{{this._id}}" class="fas fa-edit" ></a></td>
                    {{/if}}
                    
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>

<!-- /#wrapper -->

<script>

  $("#coupon").submit((e) => { 
      e.preventDefault() 
      
      $.ajax({ url:'/admin/add-coupon',
       method: 'POST', 
       data: $('#coupon').serialize(), 
       success:(response) => { 
           location.reload()
            } 
      }) 
  })
</script>
 <script>
	      $(document).ready(function () {
      var nflag=1,eflag=1,pflag=1
      $("#offer").blur(function () {
        var text = $(this).val()
        if (text>=100) {
          $("#err1").show()
          $("#submit").attr('disabled',true)
        }
        else {
          $("#err1").hide()
         $("#submit").attr('disabled',false)
        }
       
      })
    })

  </script>