
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
       
.flash {
  display: block;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 350px;
  padding: 20px 25px 20px 85px;
  font-size: 16px;
  font-weight: 400;
  color: #F7941D;;
  background-color: #FFF;
  border: 2px solid #fd8b00;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
  z-index: 99
}

.flash__icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.8em;
  height: 100%;
  padding: 0 0.4em;
  background-color: #F7941D;;
  color: #FFF;
  font-size: 36px;
  font-weight: 300;
  transform: translate(0, -50%);
}
.flash__icon .icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.Sbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  border: 2px solid #F7941D;;
  border-radius: 2px;
  color: #F7941D;;
  transform: translate(-50%, -50%);
  transition: all 0.1s;
}
.Sbutton:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #F7941D;;
}
.Sbutton:active {
  box-shadow: none;
  background-color: #F7941D;;
}

@-webkit-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}
@-moz-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}
@-o-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}
@keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  12% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}
.animate--drop-in-fade-out {
  -webkit-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
  -moz-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
  -ms-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
  -o-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
  animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
}
</style>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="">Checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{{#if count}}
<section>
    <div class="container">
        {{#if address}}
        <h4>Choose your address </h4>
        <h4>&nbsp;</h4>
        {{/if}}
        <div class="row">
            {{#each address}}
            <div class="col-md-3 d-flex">

                <div class="card" style="margin-top: 30px;">
                    <label class="p-3">
                        {{this.details.first_name}} {{this.details.last_name}}<br>
                        {{this.details.addressline1}}<br>
                        {{this.details.addressline2}}<br>
                        {{this.details.district}},&nbsp;{{this.details.state}}<br>
                        {{this.details.post}},&nbsp;ph:{{this.details.mobile}}<br>
                    </label>
                    <button
                        onclick="addAddress('{{this.details.first_name}}','{{this.details.last_name}}','{{this.details.addressline1}}','{{this.details.addressline2}}','{{this.details.district}}',
                    '{{this.details.state}}','{{this.details.post}}','{{this.details.mobile}}','{{this.details.email}}','{{this.details.country}}')">use</button>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</section>

<!-- Start Checkout -->
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">
                    <h2>Make Your Checkout Here</h2>
                    <p>Please register in order to checkout more quickly</p>
                    <!-- Form -->
                    <form class="form" id="check">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>First Name<span>*</span></label>
                                    <input type="text" name="first_name" id="fname" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Last Name<span>*</span></label>
                                    <input type="text" name="last_name" id="lname" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Email Address<span>*</span></label>
                                    <input type="email" name="email" id="email" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Phone Number<span>*</span></label>
                                    <input type="" name="number" id="mobile" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>State<span>*</span></label>
                                    <input type="" name="state" id="state" placeholder="" required="required">

                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>District<span>*</span></label>
                                    <input type="text" id="district" name="district" placeholder="" required="required">
                                   
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Address Line 1<span>*</span></label>
                                    <input type="text" id="address1" name="address1" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Address Line 2<span>*</span></label>
                                    <input type="text" id="address2" name="address2" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Postal Code<span>*</span></label>
                                    <input type="text" id="postal" name="post" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Country<span>*</span></label>
                                    <input type="text" id="country" name="country" value="" placeholder=""
                                        required="required">
                                    <input type="text" name="userId" value="{{users._id}}" hidden>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group create-account">
                                    <input id="cbox" name="save" type="checkbox">
                                    <label>Save this address for next time</label>
                                </div>
                            </div>
                        </div>

                        <!--/ End Form -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>CART TOTALS</h2>
                        <div class="content">
                            <ul>
                                {{#if count}}
                                <li>Sub Total<span style="float: right; margin-right: 5%;" id="total"><i
                                            class="fa fa-inr"></i> {{total}}</span></li>
                                <li>(+) Shipping<span style="float: right; margin-right: 5%;" id="total"><i
                                            class="fa fa-inr"></i>00.00</span></li>
                                <li class="last">Total<span style="float: right; margin-right: 5%;" id="total"><i
                                            class="fa fa-inr"></i> {{total}}</span></li>
                                {{else}}
                                <li>Sub Total<span style="float: right; margin-right: 5%;" id="total"><i
                                            class="fa fa-inr"></i> 00.00</span></li>
                                <li>(+) Shipping<span style="float: right; margin-right: 5%;" id="total"><i
                                            class="fa fa-inr"></i>00.00</span></li>
                                <li class="last">Total<span style="float: right; margin-right: 5%;" id="total"><i
                                            class="fa fa-inr"></i> 00.00</span></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <!--/ End Order Widget -->
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>Payments</h2>
                        <div class="content">
                            <div class="radio-payment">
                                <label><input name="payment-method" value="COD" type="radio" required>&nbsp;
                                    Cash On Delivery</label>
                                <label><input name="payment-method" value="Razorpay" type="radio" required>&nbsp;
                                    RazorPay</label>
                                <label><input name="payment-method" value="paypal" type="radio" required>&nbsp;
                                    PayPal</label>
                                <input hidden name="total" value="{{total}}">
                                    
                                        <div id="paypal-button-container"></div>
                                        
                            </div>
                        </div>
                    </div>
                    
                    <!--/ End Order Widget -->
                    <!-- Payment Method Widget -->
                    <div class="single-widget payement">
                        <div class="content">
                            <img src="/images/payment-method.png" alt="#">
                        </div>
                    </div>
                    <!--/ End Payment Method Widget -->
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                                <button type="submit" id="e" class="btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!--/ End Button Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
	<div class="flash" style="z-index: 9999;">
  <div class="flash__icon">
   <i class="far fa-check-circle" style="padding-top: 10px;"></i>
  </div>
  <p class="flash__body">
    Success!
  </p>
</div>
	<script src="https://kit.fontawesome.com/a73f9c0e98.js" crossorigin="anonymous"></script>
<!--/ End Checkout -->
{{else}}
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>

<h1 style="color:rgb(245, 161, 4) ;" class="text-center">Your Cart Is Empty</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
{{/if}}

<script>
    function addAddress(first_name, last_name, address1, address2, district, state, postal, mobile, email, country) {
        document.getElementById("fname").value = first_name
        document.getElementById("lname").value = last_name
        document.getElementById("address1").value = address1
        document.getElementById("address2").value = address2
        document.getElementById("district").value = district
        document.getElementById("state").value = state
        document.getElementById("postal").value = postal
        document.getElementById("mobile").value = mobile
        document.getElementById("email").value = email
        document.getElementById("country").value = country
    }
</script>

<script>
    $("#check").submit((e) => {
        e.preventDefault()

        $.ajax({
            url: '/checkout',
            method: 'POST',
            data: $('#check').serialize(),
            success: (response) => {
                if (response.paymentMethod=='COD') {
                   $(".flash").addClass("animate--drop-in-fade-out");
        setTimeout(function () {
          $(".flash").removeClass("animate--drop-in-fade-out");
        }, 3500);
                   location.href='/myorders'
                } else if(response.paymentMethod=='razorpay') {
                    razorpayPayment(response)
                } else{
                     paypal.Buttons({
                        createOrder: function (data, actions) {
                            // This function sets up the details of the transaction, including the amount and line item details.
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: response.totalAmount
                                    }
                                }]
                            });
                        },
                        onApprove: function (data, actions) {
                            // This function captures the funds from the transaction.
                            return actions.order.capture().then(function (details) {
                                // This function shows a transaction success message to your buyer.
                                $(".flash").addClass("animate--drop-in-fade-out");
        setTimeout(function () {
          $(".flash").removeClass("animate--drop-in-fade-out");
        }, 3500);
                                location.href = '/myorders/' + response._id + ''
                            });
                        }
                    }).render('#paypal-button-container');
                }
               
                }

            
        })
    })

    function razorpayPayment(order){
        console.log(order)

var options = {
    "key": "rzp_test_TzntSXAXTPYdYg", 
    "amount": order.amount,
    "currency": "INR",
    "name": "Hulk.",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, 
    "handler": function (response){
        

        verifypayment(response,order)
    },
    "prefill": {
        "name": order.user,
        "email": order.email,
        "contact": order.mobile
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#F7941D"
    }
};
var rzp1 = new Razorpay(options);
    rzp1.open();
    }

  
</script>
<script>
    function verifypayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            method:'POST',
            data:{
                payment,
                order
            },
            success:(response)=>{
               if(response.status){
                    $(".flash").addClass("animate--drop-in-fade-out");
          setTimeout(function () {
          $(".flash").removeClass("animate--drop-in-fade-out");
        }, 3500);
                    location.href='/myorders'
                }else{
                    alert("payment failed")
                }
            }
            
        })
    }
</script>


